.step--display {
    overflow: auto;
}

.step--display__media {
    padding-bottom: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.step--display__media .media--img {
    border-radius: 10px;
    margin-top: 16px;
    max-width: 90%;
}
.step--display__media .media--youtube{
    margin-top: 16px;
    max-width: 90%;
}

.step--display__title {
    margin: 12px;
    width: calc(100% - 2 * 12px);
    height: auto;
    text-align: center;
}

.step--display__des {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: black;
    margin: 12px;
    width: calc(100% - 2 * 12px);
    text-align: center;
}

.step--display__des p {
    text-align: justify;
}

.step--display__name {
    margin: auto;
    font-weight: 500;
}

.rs-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rs-play, .rs-stop, .rs-pause, .rs-resume {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}