@import '~antd/dist/antd.css';

.space-align-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .space-align-block {
    flex: none;
    margin: 8px 4px;
    padding: 4px;
    border: 1px solid #40a9ff;
    border-radius: 4px;
  }
  .space-align-block .mock-block {
    display: inline-block;
    padding: 32px 8px 16px;
    background: rgba(150, 150, 150, 0.2);
    border-radius: 5px;
  }

  .bar {
    height: 4px;
    width: 50px;
    background-color: #fbfbfb;
    margin: 0 auto;  
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* cursor: move; */
    background: rgba(61, 61, 61, 0.2);
    /* position: fixed */
    top: 0;
    bottom:0;
    /* position:fixed;
    overflow-y:scroll; */
    overflow-x:hidden;
  }