.step--quiz {
    padding: 10px 24px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step--quiz__img {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.step--quiz__img .img-q {
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: 92%;
}

.step--quiz__question {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    max-width: 97%;
}

.step--quiz__options {
    margin: 0 auto;
    width: 316px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.step--quiz__result {
    width: 100%;
}

.text-success {
    color: var(--success);
}

.text-wrong {
    color: var(--danger);
}

.answer-text {
    width: 150px;
    height: 150px;
    border-radius: 6px;
    /* background-color: #4ba0ff66; */
    background-color: #fff;
    color: #000;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-size: 16px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border: 5px solid #fff;
    border-bottom-color: #FF8008bb;
    border-right-color: #FF8008bb;
}

.answer-text.answer-text-0 {
    /* border-color: rgb(211 31 61); */
    /* background-color: rgb(151 9 32); */
}

.answer-text.answer-text-1 {
    /* border-color: rgb(24 113 221); */
    /* background-color: rgb(0 82 181); */
}

.answer-text.answer-text-2 {
    /* border-color: rgb(231 171 6); */
    /* background-color: rgb(197 145 3); */
}

.answer-text.answer-text-3 {
    /* border-color: rgb(37 161 5);
    background-color: rgb(28 118 4); */
}

.answer-text:hover {
    box-shadow: 0px 0px 6px 2px #40a9ff;
}

.answer-text:nth-child(2n+1) {
    margin-right: 16px;
}

.answer-text.disabled {
    /* box-shadow: none; */
    cursor: default;
    opacity: 0.55;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px !important;
}

.answer-text.correct {
    background-color: rgb(7, 207, 0);
    border-color: rgb(7, 207, 0);
    color: white;
    opacity: 1 !important;
}

.answer-text.wrong {
    background-color: rgb(233, 0, 0);
    border-color: rgb(233, 0, 0);
    color: white;
    opacity: 1 !important;
}